<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
</head>
<body>
<div>
    <h1>Colors</h1>
    <div>
        {{range .ColorGroups}}
        <h2>{{.GroupTitle}}</h2>
        <div class="color-group">
            {{range .Colors}}

                <div class="color-card" data-color="{{.HexStr}}">
                    <div class="color-box" style="background-color: {{.HexStr}};"></div>
                    <div class="color-info">
                        <span class="hex-value">[{{.HexStr}}]</span>
                        <span>{{.Description}}</span>
                        <span>{{.HslStr}}</span>
                        <span>{{.RgbStr}}</span>
                    </div>
                </div>

            {{end}} <!-- End Colors-->
        </div>
        {{end}} <!--End ColorGroups-->
    </div>
</div>
<div id="toast" class="toast">Copied to Clipboard!</div>
<script>

function showCopyToast() {
    const toast = document.getElementById('toast');
    toast.classList.add('show');

    setTimeout(() => {
        toast.classList.remove('show');
    }, 2000); // The toast will be visible for 2 seconds
}

document.addEventListener("DOMContentLoaded", function() {
    const cards = document.querySelectorAll('.color-card');

    cards.forEach(card => {
        card.addEventListener('click', function() {
            const color = this.getAttribute('data-color');
            copyToClipboard(color);

            // Trigger animation (by adding a class and then removing it)
            this.classList.add('copied');
            setTimeout(() => {
                this.classList.remove('copied');
            }, 1000); // Animation duration (in ms)

            showCopyToast();
        });
    });
});

function copyToClipboard(text) {
    const textarea = document.createElement('textarea');
    textarea.textContent = text;
    document.body.append(textarea);
    textarea.select();
    document.execCommand('copy');
    textarea.remove();
}
</script>
</body>
</html>